* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0b0a0a;
    color: white;
    font-family: "Poppins", sans-serif;
}

.home {
    display: flex;
    flex-direction: column;
    /* Arrange children in a column */
    height: 100vh;
    /* Optional: make sure it takes full viewport height */
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 15vw;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sidebar.playing-sidebar {
    /* height: 88.5vh; */
    height: 100vh;
    flex: 1;
}

.sidebar::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.sidebar:hover::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #8a1cff2b;
    border-radius: 10px;
}

.name {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 20px;
    color: #8a1cff;
}

.section {
    margin: 15px;
}

.section a {
    text-decoration: none;
}

.section button {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    margin-bottom: 13px;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 5px;
    width: 160px;
    background-color: transparent;
    color: white;
    font-size: 17px;
}

.section button:hover,
.section button.default {
    background-color: #8a1cff2b;
}

.icon {
    width: 17px;
    filter: brightness(0) invert(1);
}

.footer {
    margin-top: auto;
    padding: 15px;
    background-color: #1e1e1e;
    text-align: center;
    color: white;
    font-size: 14px;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: #8a1cff;
}

.container {
    display: flex;
}

.homepage {
    margin-left: 15vw;
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow-y: auto;
}

.homepage.playing {
    margin-left: 15vw;
    margin-right: 20vw;
    /* width: 65vw; */
    width: 66.2vw;
    /* height: 88.5vh; */
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.homepage::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

/* .homepage:hover::-webkit-scrollbar {
    width: 10px;
} */

.homepage::-webkit-scrollbar-thumb {
    background-color: #8a1cff2b;
    border-radius: 10px;
}

.page {
    /* background-image: url("images/cover\ page.png");
    background-size: cover; */
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
}

/* .page.playing-page {
    background-image: url("images/cover\ page.png");
    background-size: cover;
    width: 65vw;
    height: 88.5vh;
    display: flex;
    flex-direction: column;
} */

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    gap: 500px;
    /* gap: 289px; */
}

nav.playing-nav {
    justify-content: space-evenly;
    gap: 280px;
}

.left {
    display: flex;
}

.left input {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
}

.search-box {
    width: 360px;
    /* background-color: #7f6c6c3b; */
    background-color: #ffffff3b;
    border-radius: 9px;
}

#input-box {
    caret-color: #555;
    color: white;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row button {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px;
}

.row button .fa-solid {
    width: 25px;
    color: #555;
    font-size: 15px;
    cursor: pointer;
}

nav .right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav .right ul li {
    list-style: none;
    cursor: pointer;
}

nav .right ul li a {
    text-decoration: none;
    font-size: 17px;
    color: white;
    padding: 4px 10px;
}

.signup {
    background-color: #8a1cff;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid #8a1cff;
    padding: 3px 10px;
    cursor: pointer;
}

.signup:hover {
    border: 2px solid #8a1cff;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: transparent;
    color: white;
}

.signin {
    border: 2px solid #8a1cff;
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}

.signin:hover {
    background-color: #8a1cff;
    color: #ffffff;
}

.container1 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 775px;
    height: 460px;
    background: #141414;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #999898;
    text-align: center;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.container1.active .form-box {
    right: 50%;
}

.form-box.register {
    visibility: hidden;
}

form {
    width: 100%;
}

.container1 h1 {
    font-size: 36px;
    margin: -10px 0;
}

.input-box {
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 67%;
    padding: 10px 10px;
    background: #1f1e1e;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    color: #ffffff
}

.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

.input-box i {
    position: absolute;
    right: 69px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.forgot-link {
    margin: -15px 0 15px;
}

.forgot-link a {
    font-size: 14.5px;
    color: #333;
    text-decoration: none;
}

.container1 form button {
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 17px;
    cursor: pointer;
    background-color: #8a1cff;
    border: 2px solid #8a1cff;
    color: #141414;
}

.container1 .toggle-box button {
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 17px;
    cursor: pointer;
    background-color: #141414;
    border: 2px solid #141414;
    color: #8a1cff;
}

.container1 .toggle-box button:hover {
    background-color: transparent;
    color: #141414;
}

.container1 form button:hover {
    background-color: transparent;
    color: #8a1cff;
}

.container1 p {
    font-size: 14.5px;
    margin: 15px 0;
}

.social-icons a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #8a1cff;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    margin: 0 8px;
}

.toggle-box {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #141414;
}

.toggle-box::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background-color: #8a1cff;
    border-radius: 150px;
    z-index: 2;
    transition: 1.8s ease-in-out;
}

.container1.active .toggle-box::before {
    left: 50%;
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s ease-in-out;
}

.toggle-panel.toggle-left {
    left: 0;
    transition-delay: 1.2s;
}

.container1.active .toggle-panel.toggle-left {
    left: -50%;
    transition-delay: .6s;
}

.toggle-panel.toggle-right {
    right: -50%;
    transition-delay: .6s;
}

.container1.active .toggle-panel.toggle-right {
    right: 0;
    transition-delay: 1.2s;
}

.main {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 57px; */
    margin: 0 10px;
}

.main h2 {
    margin-left: 30px;
    margin-top: 15px;
    color: #8a1cff;
}

.buttons button {
    width: 168px;
    margin-left: 30px;
    margin-top: 19px;
    background-color: #8a1cff;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid #8a1cff;
    padding: 3px 10px;
    cursor: pointer;
    font-size: 17px;
}

.buttons button:hover {
    border: 2px solid #8a1cff;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: transparent;
    color: white;
}

.buttons {
    display: flex;
}

.container {
    margin: 0 30px;
    margin-bottom: 20px;
    display: flex;
    gap: 24px;
}

.trending-posts{
    /* margin-left: 30px; */
    background-color: #141414;
    border-radius: 18px;
    padding: 10px;
}

.trending-posts .image {
    height: 52px;
    width: 52px;
    background-size: cover;
    border-radius: 27px;
}

.trending-posts .user {
    /* margin-left: 39px; */
    display: flex;
    gap: 14px;
}

.user-info {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.user .id{
    color: gray; 
    font-size: 11px;
}

.post{
    margin-top: 15px;
}

.post img{
    height: 280px;
}

.icons{
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 21px;
}

.suggestion{
    /* margin-top: 40px; */
    /* margin-right: 30px; */
    background-color: #141414;
    border-radius: 18px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.community-follow {
    display: flex;
    flex-direction: column;
    /* height: 339px; */
}

/* .playlist.playing-playlist {
    height: 328px;
} */

.community-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.box {
    display: flex;
    /* height: 230px; */
    width: 31%;
    height: 201px;
    /* width: 20%; */
    border-radius: 1rem;
}

.box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 201px;
    background-size: cover;
    margin: 7px;
    border-radius: 2rem;
}

.box-img.playing-img {
    height: 160px;
}

.box-content p {
    font-size: 13px;
    padding: 0 10px;
}

.box-content {
    display: flex;
    border-radius: 2rem;
    height: 217px;
    width: 280px;
    flex-direction: column;
}

.box-content.playing-box-content {
    height: 246px;
}

.box-content:hover {
    /* box-shadow: inset -9px -9px 16px rgb(0 0 0 / 59%), inset 9px 9px 16px rgb(255 255 255 / 7%); */
    cursor: pointer;
    background-color: #8a1cff2b;
}

.box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-size p{
    font-size: 20px;
}

.box-text button{
    width: 80px;
    margin-bottom: 10px;
    margin-top: 4px;
    background-color: #8a1cff;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid #8a1cff;
    padding: 3px 10px;
    cursor: pointer;
    font-size: 16px;
}

.box-text button:hover{
    border: 2px solid #8a1cff;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: transparent;
    color: white;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading h3{
    margin-left: 16px;
}

.heading a{
    margin-right: 16px;
    text-decoration: none;
    color: #ffffff;
}

.heading a:hover{
    color: #8a1cff;
}

.favorite-artists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 19px;
}

.left-container, .right-container {
    height: 390px;
    overflow-y: auto;
    width: 50%;
    margin-top: 30px;
}

.left-container.playing-container {
    height: 100vh;
    flex: 1;
}

.left-container::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

.left-container::-webkit-scrollbar-thumb {
    background-color: #8a1cff2b;
    border-radius: 10px;
}

.right-container.playing-container {
    height: 100vh;
    flex: 1;
}

.right-container::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

.right-container::-webkit-scrollbar-thumb {
    background-color: #8a1cff2b;
    border-radius: 10px;
}

.user p{
    display: flex;
    align-items: end;
    margin-bottom: 5px;
    color: #8a1cff;
    cursor: pointer;
}

.upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like{
    display: flex;
    align-items: center;
    gap: 6px;
}

.left-container i{
    cursor: pointer;
}