*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    /* background-color: #150025; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    gap: 974px;
}

.intro .left{
    font-size: 40px;
    font-weight: bold;
    color: #8a1cff;
}

nav .right ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .right ul li{
    margin: 0 10px;
    list-style: none;
    cursor: pointer;
}

nav .right ul li a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    padding: 4px 10px;
}

.signin {
    background-color: #8a1cff;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid #8a1cff;
    padding: 3px 10px;
    cursor: pointer;
}

.signin:hover {
    border: 2px solid #8a1cff;
    border-radius: 10px;
    padding: 3px 10px;
    background-color: transparent;
    color: white;
}

.login {
    border: 2px solid #8a1cff;
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}

.login:hover {
    background-color: #8a1cff;
    color: #ffffff;
}

.container1 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 775px;
    height: 460px;
    background: #141414;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    overflow: hidden;
}

.form-box{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #999898;
    text-align: center;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.container1.active .form-box{
    right: 50%;
}

.form-box.register{
    visibility: hidden;
}

form{
    width: 100%;
}

.container1 h1{
    font-size: 36px;
    margin: -10px 0;
}

.input-box{
    position: relative;
    margin: 30px 0;
}

.input-box input{
    width: 67%;
    padding: 10px 10px;
    background: #1f1e1e;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder{
    color: #888;
    font-weight: 400;
}

.input-box i{
    position: absolute;
    right: 69px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.forgot-link{
    margin: -15px 0 15px;
}

.forgot-link a{
    font-size: 14.5px;
    color: #333;
    text-decoration: none;
}

.container1 form button {
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 17px;
    cursor: pointer;
    background-color: #8a1cff;
    border: 2px solid #8a1cff;
    color: #141414;
}

.container1 .toggle-box button {
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 17px;
    cursor: pointer;
    background-color: #141414;
    border: 2px solid #141414;
    color: #8a1cff;
}

.container1 .toggle-box button:hover {
    background-color: transparent;
    color: #141414;
}

.container1 form button:hover {
    background-color: transparent;
    color: #8a1cff;
}

.container1 p {
    font-size: 14.5px;
    margin: 15px 0;
}

.social-icons a{
    display: inline-flex;
    padding: 10px;
    border: 2px solid #8a1cff;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    margin: 0 8px;
}

.toggle-box{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #141414;
}

.toggle-box::before{
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background-color: #8a1cff;
    border-radius: 150px;
    z-index: 2;
    transition: 1.8s ease-in-out;
}

.container1.active .toggle-box::before{
    left: 50%;
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s ease-in-out;
}

.toggle-panel.toggle-left{
    left: 0;
    transition-delay: 1.2s;
}

.container1.active .toggle-panel.toggle-left{
    left: -50%;
    transition-delay: .6s;
}

.toggle-panel.toggle-right{
    right: -50%;
    transition-delay: .6s;
}

.container1.active .toggle-panel.toggle-right{
    right: 0;
    transition-delay: 1.2s;
}


.intro{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 550px;
    gap: 143px;
    background-image: url("images/backbk.png");
    background-size: cover;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading{
    font-size: 40px;
}

button{
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 17px;
    cursor: pointer;
    background-color: #8a1cff;
    border: 2px solid #8a1cff;
    color: white;
}

button:hover {
    background-color: transparent;
}

.preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview .title {
    margin-top: 50px;
    font-size: 25px;
}

.preview img{
    height: 552px;
    position: absolute;
    top: 618px;
}

.preview .webimg{
    margin-top: 114px;
    margin-right: 7px;
    width: 485px;
    height: 303px;
    z-index: 2;
    opacity: 1.3;
}

.artist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 466px;
}

.artist h3 {
    font-size: 15px;
    margin-top: 50px;
}

.artist .title {
    margin-top: 5px;
    font-size: 25px;
}

.slider-container {
    overflow: hidden; 
    width: 100%;
    max-width: 100vw; 
}

.artistimg {
    margin-top: 63px;
    margin-bottom: 37px;
    display: flex;
    gap: 10px;
    transition: transform 2s ease; 
    width: max-content;
}

.one img{
    border-radius: 50%;
    height: 256px;
    width: 256px;
}

.four{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first{
    display: flex;
    gap: 10px;
}

.second{
    display: flex;
    gap: 10px;
}

.first img{
    border-radius: 50%;
    height: 125px;
    width: 125px;
}

.second img{
    border-radius: 50%;
    height: 125px;
    width: 125px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature .title{
    margin-top: 25px;
    font-size: 25px;
}

.reason{
    display: flex;
    margin-top: 40px;
    margin-bottom: 55px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 45px;
}

.feature .reason .left{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.feature .reason .right{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

footer{
    margin-top: 25px;
}

.footer{
    background-color: #141414;
    display: flex;
    padding: 29px;
    gap: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    /* justify-content: center; */
}

.description{
    font-size: 13px;
    color: #ccc;
}

.head1 h3{
    font-size: 18px;
    color: #8a1cff;
}

.feature1{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.feature2{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.feature3{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.feature4{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.descript1{
    color: #ccc;
}

.name{
    color: #8a1cff;
    font-size: 22px;
    font-weight: 600;
}

.links ul,
.social-media ul,
.quick-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a,
.social-media a,
.quick-links a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover,
.social-media a:hover,
.quick-links a:hover {
    color: #8a1cff;
}

.newsletter p {
    margin-bottom: 8px;
}

.newsletter a {
    color: #ccc;
    text-decoration: none;
}

.newsletter a:hover {
    color: #8a1cff;
}

.copyright{
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}